<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤデータ 詳細</h1>

    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <!-- formに囲まれている内容を、indicate.rb(cgi)に送信しますという記述 -->
    <form action='indicate.cgi' method='POST'>
      下記に文字を入力してください<br><br>
      <!-- このinputに入力された情報が、submitの送信ボタンでデータとして送られる -->
      <!-- name='input'は送られた先の目印となる情報 -->
      <!-- type="text"は入力ができるフォームを作成するという記述 -->
      <input type="text"  name='input' ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select length, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data <<  "大きさ:#{record["length"]} 譲渡先:#{record["give_for"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 日付:#{record["date"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの大きさと譲渡先の情報ページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  


    <% result = connection.exec("select give_for from crops WHERE give_for!='自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data <<  "大きさ:#{record["length"]} 譲渡先:#{record["give_for"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 日付:#{record["date"]}" %>
    <% end %>
    <form action="goya2.cgi" method="POST">
      下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報ページに飛びます<br><br>
      <input type="text" name="goya2" value="<%= data.join(' ') %>">
      <input type="submit" name="送信">
    </form>

    <% result = connection.exec("select quality from crops where quality = false;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data <<  "大きさ:#{record["length"]} 譲渡先:#{record["give_for"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 日付:#{record["date"]}" %>
    <% end %>
    <form action="goya3.cgi" method="POST">
      下記のボタンを押すと、品質が悪いもののgoyaの情報ページに飛びます<br><br>
      <input type="text" name="goya3" value="<%= data.join(' ') %>">
      <input type="submit" name="送信">
    </form>
  </body>
</html>